\

# Aerospace Launch Business Data Analysis

# Abstract

The exponential advance not only of computational power but also the rapid spread of internet has given independent research groups and personal researchers massive amounts of data previously only available to whomever is able to afford data warehouses. The aforementioned push towards data has created new career paths for those with the appropriate education or training. One such career path leads individuals to a profession known as Data Scientist, which is a hybrid of software engineering/computer science, statistics, and mathematical modelling. Software knowledge enables researchers to benefit from coding in languages other than de-facto MATLAB to extract and manipulate data from open sources and public databases. Once the data is acquired, statistics is needed to get an intuition of the various trends in the dataset with subdisciplines such as resampling methods amongst a few. Furthermore, machine learning stemmed out from various statistical approaches such as Bayesian theorem and Markov chains. The mathematical modelling aspect mostly work in conjunction with statistics since models such as Principle Component Analysis (PCA), Least Means Square Error (LMSE) are regression-based models. This research will be an explorative study with the aim of providing a variety of tools and techniques that are part of the Data Science lifecycle that can prove to be give a massive advantage to researchers in the Aerospace Industry.

# Introduction

NSBE's East African Spaceport Feasibility study is conducting a research study with the purpose defined as to "Investigate the feasibility of a spaceport in the East African Community (EAC) that could provide low cost, reliable access to space while stimulating African economic and technology advancement [1]."  This proposal will seek to demonstrate how modern data analytics techniques to extract and analyze data from Wikipedia, UCS (Union for Concerned Scientists), and SpaceX's API [2] can be used in the writing of a Business case report.

# Data Source - List of Rocket Launch Sites (Wiki)

## Interactive Map

The interactive map below was created from latitude and longitude values using the Tableau Public software obtained from Wikipedia's list of Rocket Launch Sites page [4]. This is a simple bubble heat map that has the geographic locations of all the launch sites in the world and the which had the most Rocket Launches. If you hover over individual bubbles you can see a field for the year that individual Launch site and a total number of rocket launch sites. During the business case study, the team can do further research on the cost of operabilition for each location and find out the reasons for some of them closing or still operating. Conclusions made will either make a case for or against Spaceport at an Equatorial location. For example, if we look at Spaceports in the Western Hemisphere, the White Sands Missile Range in New Mexico has over 7000 rocket launches to date but it's latitudinal location is at 32 degrees. On the other hand, the Guiana Space center with a latitudinal location of 5.2 only has 200 launches. Why is there such a huge difference in the two ? Maybe specific rockets for specific target orbits are being launched from one location compared to another ? Also if we take a look at the Peenemünde/Greifswalder Oie (54 degrees latitude), was launched from 3000 times. How is this number so high for a Spaceport so far from the Equator ?   Intuitively, one can also ask why it closed in 1945 while being used so frequently at such a early time in Spaceflight ? Was the reason it close an economic factor or other ? Keeping such questions in mind should help in the aid in the formation of further analysis.

Link: [Launch Site Analysis](https://public.tableau.com/profile/gael.gatera#!/vizhome/LaunchSiteAnalysis/Sheet1)

# Data Source - Union For Concerned Scientists

This is an in-depth databse built by experts at UCS detailing the over 2,218 satellites currently orbiting Earth, including their country of origin, purpose, and other operational details. It is available as a downloadable Excel file, which is updated roughly quarterly. The databse will be used to collect open-source information on the operational specific satellites, their launch sites and other information that will be discussed in the sections below.


## Dependencies & Pre-Processing

In [ ]:
# Install the gspread library to access google spreadsheets in colab
!pip install --upgrade --quiet gspread

In [ ]:
# In oder to use personal google drive as a directory for files, it will have to be mounted to the colab notebook.
# Only individuals that will be working with the code will have to do this, otherwise it will not be necessary.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
# Making sure you are in the correct directory
cd drive/My\ Drive/ASC\ 2020/

/content/drive/My Drive/ASC 2020

In [ ]:
# Listing the files in your directory to make sure what you need is there
ls

UCS-Satellite-Database-10-1-Cleaned.xlsx

The database is downloaded as an excel workbook but had to be converted to a Pandas dataframe which is is a 2-dimensional labeled data structure with columns of potentially different types. Dataframes are great ways to perform operations on rows and columns and is widely used in Data Science statistical analysis of all sorts. We will use the Pandas library to create our dataframe and perform queries for the data that we need.

In [ ]:
# Reading in Database from Union of Concerned Scientist for Analysis
UCS_df = pd.read_excel(r'UCS-Satellite-Database-10-1-Cleaned.xlsx')

In [ ]:
# Looking at the first five rows to get an understanding of the kind of data we will be working with.
UCS_df.head()

  Name of Satellite, Alternate Names  ... Source Used for Orbital Data
0                             3Cat-1  ...                    Estimated
1                           Aalto-1   ...               JMSatcat/10_17
2                           AAUSat-4  ...                      Space50
3           ABS-2 (Koreasat-8, ST-3)  ...                        ZARYA
4                             ABS-2A  ...                    Estimated

[5 rows x 28 columns]

## Max Launch Mass Analysis

In [ ]:
# Quick statistical description of numerical values.

UCS_df.describe()

       Longitude of GEO (degrees)  ...  NORAD Number
count                 2216.000000  ...   2218.000000
mean                     5.643100  ...  39015.945897
std                     47.689443  ...   5806.790874
min                   -179.800000  ...   7530.000000
25%                      0.000000  ...  37234.750000
50%                      0.000000  ...  41182.500000
75%                      0.000000  ...  43221.500000
max                    328.500000  ...  53160.000000

[8 rows x 9 columns]

Since this is a statistical description of the whole database, their values might not be of much significance at all. However, if we look at the max value for Launch Mass, we can see that the mass of the highest vehicle launched had a mass of 18,000 Kilograms. So it would be interest to know what that vehicle was, where it was launch from and other information that could be used in our study.

In [ ]:
grouped = UCS_df.groupby(['Launch Mass (kg.)', 'Name of Satellite, Alternate Names'])

In [ ]:
grouped.last()

                                                                     Country/Org of UN Registry  ... Source Used for Orbital Data
Launch Mass (kg.) Name of Satellite, Alternate Names                                             ...
1.0               AAUSat-4                                                              Denmark  ...                      Space50
                  Beesat-9 (Tubsat-17)                                                  Germany  ...               JMSatcat/11_19
                  BisonSat (Nwist Qwiqway)                                                   NR  ...                     JM/12_15
                  Duchifat-1                                                                 NR  ...                          NaN
                  Exoconnect (D-Star One)                                            NR (11/19)  ...               JMSatcat/11_19
...                                                                                         ...  ...                          ...
14500.0           Lacrosse/Onyx 5 (Lacrosse-5, NROL 16, USA 182)                            USA  ...                    SC - ASCR
18000.0           Keyhole 5 (Advanced KH-11, KH-12-5, Improved Cr...                        USA  ...                         JMSR
                  Keyhole 6 (NRO L49, Advanced KH-11, KH-12-6, Im...                        USA  ...               JMSatcat/2_USA
                  Keyhole 7 (NRO L65, Advanced KH-11, Improved Cr...                        USA  ...                        ZARYA
                  Keyhole 8 (NRO L71, Advanced KH-11, Improved Cr...                 NR (11/19)  ...                JMSatcat/3_19

[2046 rows x 26 columns]

In the above results we can see that a total of four satellites had a Launch Mass of 18000 kilograms and had similar characteristics. All four were Military Satellites Launched by the United States, all found were Earth Obvservation Satellites, all four were Launched to Lower Earth Orbit, so on and so on. So this means that as we progress in our feasiblity study we can make a case for Military Vehicles as the number one source of potential revenue since they tend to launch heavier vehicles and would benefit the most from the cost savings associated with launching from an Equatorial location. Again, this is simply an example of the versatility that using Python and associated libraries for analytical purposes can help us out.

## Frequently used Launch Sites

In order to compare our theoretical spaceport to others, I would be interesting to see which are the most frequently used launch sites in the database that we loaded in and see their geographic locations in the map that we generated above.

In [ ]:
# Doing a value count of all Launch sites 
UCS_df['Launch Site'].value_counts()

Satish Dhawan Space Centre              311
Cape Canaveral                          311
Baikonur Cosmodrome                     294
Guiana Space Center                     273
Vandenberg AFB                          245
Jiuquan Satellite Launch Center         140
Plesetsk Cosmodrome                     107
Xichang Satellite Launch Center         106
Taiyuan Launch Center                    86
Vostochny Cosmodrome                     64
Dombarovsky Air Base                     57
Tanegashima Space Center                 43
International Space Station              33
Rocket Lab Launch Complex 1              32
Sea Launch Odyssey                       28
Wallops Island Flight Facility           27
International Space Station - Cygnus     12
Uchinoura Space Center                   10
Orbital ATK L-1011                        8
Cygnus                                    8
Yellow Sea Launch Platform                7
Palmachim Launch Complex                  5
Kodiak Launch Complex                     4
Svobodny Cosmodrome                       2
Kwajalein Island                          2
Wenchang Satellite Launch Center          1
Naro Space Center                         1
Dragon CRS-17                             1
Name: Launch Site, dtype: int64

We see that within the top five most used Launch pads there is one that has a position of 45 degree latitude (Baikonur Cosmodrome) in Kazakhstan used by the Russians. So this would be a case against our equatorial launch site. In thing to ask ourselves is which satelittes did they launching from the mentioned location which Launch Masses, what were the target orbits, so on and so on. More in depth analysis can be made which would answer those questions.

## Frequent Users and Country of Origin
Other points can be made about the most frequent users of Satellites according to the data gathered in this database. In the below query we can see that commercial vehicles are commercial satellites are an overwhelming majority with 1033 satellites. Futher analysis can be made to know which are the heaviest vehicles and where they were launched from to make a case for a potential cost savings for using the East African Spaceport as a solution.

In [ ]:
#Grouped by users and counting by countries (this would show which use is more popular in each country)
ucs_date_countries = UCS_df.groupby(["Users"])["Country/Org of UN Registry"].count()
ucs_date_countries

Users
Civil                              151
Civil/Government                     3
Civil/Military                       1
Commercial                        1033
Commercial                           1
Commercial/Government                1
Commercial/Military                  2
Government                         419
Government/Civil                    28
Government/Commercial              112
Government/Commercial/Military       1
Government/Military                  5
Military                           331
Military                             1
Military/Civil                       5
Military/Commercial                 75
Military/Government                 49
Name: Country/Org of UN Registry, dtype: int64

 ## Data Source - Space X API (Application Program Interface)


The SpaceX API is a central location for information of most if not all things related to Space X's missions, rockets and more. Subsequent sections will demonstrate how to extract information from this source. Further explanation of how application program interfaces work is outside the scope of this report but may be searched for individually. 

 #### API Enpoint - Launchpads

The basic url for this API is https://api.spacexdata.com/v3/, however different endpoints can be added to the url depending on the desired information. For example, in our case we will want the Launchpds field to know which launchpads where used by different Space X launch vehicles.

In [ ]:
import requests
import json

In [ ]:
url = "https://api.spacexdata.com/v3/launchpads"
print(requests.get(url))

<Response [200]>

In [ ]:
# This will convert values from the url into json format (key value pairs) so we can use python to do some analysis with !
print(requests.get(url).json())

[{'id': 5, 'name': 'VAFB SLC 3W', 'status': 'retired', 'location': {'name': 'Vandenberg Air Force Base', 'region': 'California', 'latitude': 34.6440904, 'longitude': -120.5931438}, 'vehicles_launched': ['Falcon 1'], 'attempted_launches': 0, 'successful_launches': 0, 'wikipedia': 'https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_3', 'details': 'SpaceX original west coast launch pad for Falcon 1. Performed a static fire but was never used for a launch and abandoned due to scheduling conflicts.', 'site_id': 'vafb_slc_3w', 'site_name_long': 'Vandenberg Air Force Base Space Launch Complex 3W'}, {'id': 2, 'name': 'CCAFS SLC 40', 'status': 'active', 'location': {'name': 'Cape Canaveral', 'region': 'Florida', 'latitude': 28.5618571, 'longitude': -80.577366}, 'vehicles_launched': ['Falcon 9'], 'attempted_launches': 52, 'successful_launches': 50, 'wikipedia': 'https://en.wikipedia.org/wiki/Cape_Canaveral_Air_Force_Station_Space_Launch_Complex_40', 'details': 'SpaceX primary Falcon 9 launch pad, where all east coast Falcon 9s launched prior to the AMOS-6 anomaly. Initially used to launch Titan rockets for Lockheed Martin. Back online since CRS-13 on 2017-12-15.', 'site_id': 'ccafs_slc_40', 'site_name_long': 'Cape Canaveral Air Force Station Space Launch Complex 40'}, {'id': 8, 'name': 'STLS', 'status': 'under construction', 'location': {'name': 'Boca Chica Village', 'region': 'Texas', 'latitude': 25.9972641, 'longitude': -97.1560845}, 'vehicles_launched': ['Falcon 9'], 'attempted_launches': 0, 'successful_launches': 0, 'wikipedia': 'https://en.wikipedia.org/wiki/SpaceX_South_Texas_Launch_Site', 'details': 'SpaceX new launch site currently under construction to help keep up with the Falcon 9 and Heavy manifests. Expected to be completed in late 2018. Initially will be limited to 12 flights per year, and only GTO launches.', 'site_id': 'stls', 'site_name_long': 'SpaceX South Texas Launch Site'}, {'id': 1, 'name': 'Kwajalein Atoll', 'status': 'retired', 'location': {'name': 'Omelek Island', 'region': 'Marshall Islands', 'latitude': 9.0477206, 'longitude': 167.7431292}, 'vehicles_launched': ['Falcon 1'], 'attempted_launches': 5, 'successful_launches': 2, 'wikipedia': 'https://en.wikipedia.org/wiki/Omelek_Island', 'details': 'SpaceX original launch site, where all of the Falcon 1 launches occured. Abandoned as SpaceX decided against upgrading the pad to support Falcon 9.', 'site_id': 'kwajalein_atoll', 'site_name_long': 'Kwajalein Atoll Omelek Island'}, {'id': 6, 'name': 'VAFB SLC 4E', 'status': 'active', 'location': {'name': 'Vandenberg Air Force Base', 'region': 'California', 'latitude': 34.632093, 'longitude': -120.610829}, 'vehicles_launched': ['Falcon 9'], 'attempted_launches': 15, 'successful_launches': 15, 'wikipedia': 'https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4', 'details': 'SpaceX primary west coast launch pad for polar orbits and sun synchronous orbits, primarily used for Iridium. Also intended to be capable of launching Falcon Heavy.', 'site_id': 'vafb_slc_4e', 'site_name_long': 'Vandenberg Air Force Base Space Launch Complex 4E'}, {'id': 4, 'name': 'KSC LC 39A', 'status': 'active', 'location': {'name': 'Cape Canaveral', 'region': 'Florida', 'latitude': 28.6080585, 'longitude': -80.6039558}, 'vehicles_launched': ['Falcon 9', 'Falcon Heavy'], 'attempted_launches': 20, 'successful_launches': 20, 'wikipedia': 'https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A', 'details': 'NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.', 'site_id': 'ksc_lc_39a', 'site_name_long': 'Kennedy Space Center Historic Launch Complex 39A'}]

In [ ]:
# This chunk of code will let us know in which form is the original data coming in the form as
response = requests.get(url).json()
type(response)

list

In [ ]:
# pretty print the output of the JSON - json.dumps - converts list to string
print(json.dumps(response, indent=4, sort_keys=True))

[
    {
        "attempted_launches": 0,
        "details": "SpaceX original west coast launch pad for Falcon 1. Performed a static fire but was never used for a launch and abandoned due to scheduling conflicts.",
        "id": 5,
        "location": {
            "latitude": 34.6440904,
            "longitude": -120.5931438,
            "name": "Vandenberg Air Force Base",
            "region": "California"
        },
        "name": "VAFB SLC 3W",
        "site_id": "vafb_slc_3w",
        "site_name_long": "Vandenberg Air Force Base Space Launch Complex 3W",
        "status": "retired",
        "successful_launches": 0,
        "vehicles_launched": [
            "Falcon 1"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_3"
    },
    {
        "attempted_launches": 52,
        "details": "SpaceX primary Falcon 9 launch pad, where all east coast Falcon 9s launched prior to the AMOS-6 anomaly. Initially used to launch Titan rockets for Lockheed Martin. Back online since CRS-13 on 2017-12-15.",
        "id": 2,
        "location": {
            "latitude": 28.5618571,
            "longitude": -80.577366,
            "name": "Cape Canaveral",
            "region": "Florida"
        },
        "name": "CCAFS SLC 40",
        "site_id": "ccafs_slc_40",
        "site_name_long": "Cape Canaveral Air Force Station Space Launch Complex 40",
        "status": "active",
        "successful_launches": 50,
        "vehicles_launched": [
            "Falcon 9"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/Cape_Canaveral_Air_Force_Station_Space_Launch_Complex_40"
    },
    {
        "attempted_launches": 0,
        "details": "SpaceX new launch site currently under construction to help keep up with the Falcon 9 and Heavy manifests. Expected to be completed in late 2018. Initially will be limited to 12 flights per year, and only GTO launches.",
        "id": 8,
        "location": {
            "latitude": 25.9972641,
            "longitude": -97.1560845,
            "name": "Boca Chica Village",
            "region": "Texas"
        },
        "name": "STLS",
        "site_id": "stls",
        "site_name_long": "SpaceX South Texas Launch Site",
        "status": "under construction",
        "successful_launches": 0,
        "vehicles_launched": [
            "Falcon 9"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/SpaceX_South_Texas_Launch_Site"
    },
    {
        "attempted_launches": 5,
        "details": "SpaceX original launch site, where all of the Falcon 1 launches occured. Abandoned as SpaceX decided against upgrading the pad to support Falcon 9.",
        "id": 1,
        "location": {
            "latitude": 9.0477206,
            "longitude": 167.7431292,
            "name": "Omelek Island",
            "region": "Marshall Islands"
        },
        "name": "Kwajalein Atoll",
        "site_id": "kwajalein_atoll",
        "site_name_long": "Kwajalein Atoll Omelek Island",
        "status": "retired",
        "successful_launches": 2,
        "vehicles_launched": [
            "Falcon 1"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/Omelek_Island"
    },
    {
        "attempted_launches": 15,
        "details": "SpaceX primary west coast launch pad for polar orbits and sun synchronous orbits, primarily used for Iridium. Also intended to be capable of launching Falcon Heavy.",
        "id": 6,
        "location": {
            "latitude": 34.632093,
            "longitude": -120.610829,
            "name": "Vandenberg Air Force Base",
            "region": "California"
        },
        "name": "VAFB SLC 4E",
        "site_id": "vafb_slc_4e",
        "site_name_long": "Vandenberg Air Force Base Space Launch Complex 4E",
        "status": "active",
        "successful_launches": 15,
        "vehicles_launched": [
            "Falcon 9"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4"
    },
    {
        "attempted_launches": 20,
        "details": "NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.",
        "id": 4,
        "location": {
            "latitude": 28.6080585,
            "longitude": -80.6039558,
            "name": "Cape Canaveral",
            "region": "Florida"
        },
        "name": "KSC LC 39A",
        "site_id": "ksc_lc_39a",
        "site_name_long": "Kennedy Space Center Historic Launch Complex 39A",
        "status": "active",
        "successful_launches": 20,
        "vehicles_launched": [
            "Falcon 9",
            "Falcon Heavy"
        ],
        "wikipedia": "https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A"
    }
]

In [ ]:
# This piece of code iterations through the list of dictionaies (datatype) to get all the names of the launch pads used by SpaceX.
for i in response:
  if i['name']:
    print(i['name'])

VAFB SLC 3W
CCAFS SLC 40
STLS
Kwajalein Atoll
VAFB SLC 4E
KSC LC 39A

Here we see that Space X has only used 6 different Launch Pads:

1. VAFB SLC 3W - Vandenberg Air Force Base Space Launch Complex 3W
2. CCAFS SLC 40 - Cape Canaveral Air Force Station Space Launch Complex 40
3. STLS - SpaceX South Texas Launch Site
4. Kwajalein Atoll - Kwajalein Atoll Omelek Island
5. VAFB SLC 4E - Vandenberg Air Force Base Space Launch Complex 4E
6. KSC LC 39A - Kennedy Space Center Historic Launch Complex 39A

One thing to note is that the South Texas Launch site is not found in the data scrapped from Wikipedia, therefore hurting the credibility of it as a reliable source of data. A better map with more complete information may be created in later stages of the project.

In [ ]:
# We can also create another request to get information on a specific launchpad
response_ksc_lc39a = requests.get(url + "/ksc_lc_39a").json()
print(json.dumps(response_ksc_lc39a, indent=4, sort_keys=True))

{
    "attempted_launches": 20,
    "details": "NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.",
    "id": 4,
    "location": {
        "latitude": 28.6080585,
        "longitude": -80.6039558,
        "name": "Cape Canaveral",
        "region": "Florida"
    },
    "name": "KSC LC 39A",
    "site_id": "ksc_lc_39a",
    "site_name_long": "Kennedy Space Center Historic Launch Complex 39A",
    "status": "active",
    "successful_launches": 20,
    "vehicles_launched": [
        "Falcon 9",
        "Falcon Heavy"
    ],
    "wikipedia": "https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A"
}

In [ ]:
# Specific information within each dictionary can be access as keys
response_ksc_lc39a['details']

'NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.'

### API Endpoint - Rockets
In this section we will access a different endpoint within the SpaceX API to find out more information out rockets that are manufactured by Space X. Here we will do separate queries for the Falcon 9 rocket.

In [ ]:
# Performing a GET Request and saving the 
# API's response within a variable
url = "https://api.spacexdata.com/v2/rockets/falcon9"
response = requests.get(url)
response_json = response.json()
type(response_json)

print(json.dumps(response_json, indent=4, sort_keys=True))

NameError: ignored

In [ ]:
# Here we are grabbing a specific value from the dictionary. An interesting fact to know is the average cost per launch of the Falcon 9 in general.
print(response_json["cost_per_launch"])

50000000

Interesting fact to note for the future analysis and data gathered either from this source others.

In [ ]:
# Here we can take a look at the number of payloads that the falcon 9 can carry using the only available field 
# relating to payloads....the 'payload weights' key

number_payloads = len(response_json["payload_weights"])
print(f"There are {number_payloads} payloads.")

There are 3 payloads.

In [ ]:
# Referencing the values stored within sub-dictionaries and sub-lists
payload_weight = response_json["payload_weights"][0]["kg"]
print(f"The first payload weighed {payload_weight} Kilograms")

The first payload weighed 22800 Kilograms

# Conlusion

This uninformal proposal was written using Google Colab, a product of Jupyter notebook and Google Drive products to help developers colaborate on projects such as these with efficiency and removing the need to constantly email latest version of code. This is not as in depth as Git products and their version control capabilities enabled by pushes and pulls but for the purpose of simple analysis that will not be needed. Some of the mentioned points will be explored further and more robust analysis can be done using charts and other methodologies.

### References

[1] Dr. Obadiah Kegege, Dr. Ousmane N. Diallo, Enanga D. Fale, Aisha R. Bowe (2013). NSBE Aerospace Special Interest Group: <i> EAC Spaceport Feasiblity Study,</i> Retrieved from: https://www.nsbe-aerospace.org/ </p>

[2] r/Spacex (Version 3.1.0), Project_name:", <i> "SpaceX-API" </i>docs: https://documenter.getpostman.com/view/2025350/RWaEzAiG, organization_link:https://github.com/r-spacex, description: Open Source REST API for rocket, core, capsule, pad, and launch data, created and maintained by the developers of the r/SpaceX organization.</p>


# Launch Logs

In [ ]:
import pandas as pd
from google.colab import files
upload = files.upload()

Saving launchlogy.csv to launchlogy (1).csv

In [ ]:
launchFiles = pd.read_csv('launchlogy.csv')
launchFiles.head()

     Launch Date (UTC)      COSPAR     PL Name  ...            Site Suc        Ref
0                    #           #           #  ...               #   #          #
1  1957 Oct  4 1928:34  1957 ALP 2     1-y ISZ  ...    NIIP-5   LC1   S   Energiya
2  1957 Nov  3 0230:42  1957 BET 1     2-y ISZ  ...    NIIP-5   LC1   S  Grahn-WWW
3  1958 Feb  1 0347:56    1958 ALP  Explorer 1  ...  CC       LC26A   S    JunoFam
4  1958 Mar 17 1215:41  1958 BET 2  Vanguard I  ...  CC       LC18A   S    SP-4202

[5 rows x 10 columns]