# Data Source - Space X API (Application Program Interface)

The SpaceX API is a central location for information of most if not all things related to Space X's missions, rockets and more. Subsequent sections will demonstrate how to extract information from this source. Further explanation of how application program interfaces work is outside the scope of this report but may be searched for individually.

In [ ]:
import requests
import json
import pandas as pd

## End Point # 1 - Launches
https://api.spacexdata.com/v3/launches

In [ ]:
# This chunk of code will let us know in which form is the original data
url_launches = 'https://api.spacexdata.com/v3/launches'
launches_response = requests.get(url_launches).json()
#print(json.dumps(launches_response, indent=2))

In [ ]:
spacex_launches['mission_id']

[]

In [ ]:
spacex_launches = launches_response[0]
print(spacex_launches.keys())

dict_keys(['flight_number', 'mission_name', 'mission_id', 'upcoming', 'launch_year', 'launch_date_unix', 'launch_date_utc', 'launch_date_local', 'is_tentative', 'tentative_max_precision', 'tbd', 'launch_window', 'rocket', 'ships', 'telemetry', 'launch_site', 'launch_success', 'launch_failure_details', 'links', 'details', 'static_fire_date_utc', 'static_fire_date_unix', 'timeline', 'crew'])

### First Look in Pandas

In [ ]:
space_x_launches_df = pd.read_json(url_launches)
print(space_x_launches_df.shape)
space_x_launches_df.head()

(111, 31)

   flight_number mission_name  ... last_wiki_update  launch_date_source
0              1    FalconSat  ...              NaN                 NaN
1              2      DemoSat  ...              NaN                 NaN
2              3  Trailblazer  ...              NaN                 NaN
3              4       RatSat  ...              NaN                 NaN
4              5     RazakSat  ...              NaN                 NaN

[5 rows x 31 columns]

#### Pandas.Info

In [ ]:
space_x_launches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   flight_number            111 non-null    int64
 1   mission_name             111 non-null    object
 2   mission_id               111 non-null    object
 3   upcoming                 111 non-null    bool
 4   launch_year              111 non-null    int64
 5   launch_date_unix         111 non-null    int64
 6   launch_date_utc          111 non-null    object
 7   launch_date_local        111 non-null    object
 8   is_tentative             111 non-null    bool
 9   tentative_max_precision  111 non-null    object
 10  tbd                      111 non-null    bool
 11  launch_window            98 non-null     float64
 12  rocket                   111 non-null    object
 13  ships                    111 non-null    object
 14  telemetry                111 non-null    object
 15  launch_site              111 non-null    object
 16  launch_success           108 non-null    float64
 17  launch_failure_details   5 non-null      object
 18  links                    111 non-null    object
 19  details                  102 non-null    object
 20  static_fire_date_utc     100 non-null    object
 21  static_fire_date_unix    100 non-null    float64
 22  timeline                 80 non-null     object
 23  crew                     1 non-null      object
 24  last_date_update         27 non-null     object
 25  last_ll_launch_date      12 non-null     object
 26  last_ll_update           12 non-null     object
 27  last_wiki_launch_date    27 non-null     object
 28  last_wiki_revision       27 non-null     object
 29  last_wiki_update         27 non-null     object
 30  launch_date_source       27 non-null     object
dtypes: bool(3), float64(3), int64(3), object(22)
memory usage: 24.7+ KB

In [ ]:
space_x_launches_df.isnull().sum()

flight_number                0
mission_name                 0
mission_id                   0
upcoming                     0
launch_year                  0
launch_date_unix             0
launch_date_utc              0
launch_date_local            0
is_tentative                 0
tentative_max_precision      0
tbd                          0
launch_window               13
rocket                       0
ships                        0
telemetry                    0
launch_site                  0
launch_success               3
launch_failure_details     106
links                        0
details                      9
static_fire_date_utc        11
static_fire_date_unix       11
timeline                    31
crew                       110
last_date_update            84
last_ll_launch_date         99
last_ll_update              99
last_wiki_launch_date       84
last_wiki_revision          84
last_wiki_update            84
launch_date_source          84
dtype: int64

#### Mission ID - Cleaning
Needed to take a deeper dive into the mission id column. As all values came in a empty lists, it told me there there had to be some values of interest. Come to find out there actually were at least 54 rows with valid mission id's. I simply replaced the ones with no data available with 'no_id' as we definitely need to keep as many missions as we can.

In [ ]:
mission_id_col = []

counter_1 = 0
counter_2 = 0

for i in range(space_x_launches_df.shape[0]):
  mission_id_series = space_x_launches_df.loc[i, ['mission_id']]
  if len(mission_id_series.values[0]) == 0:
    mission_id_col.append('no_id')
  elif len(mission_id_series.values[0]) == 1:
    mission_id_col.append(mission_id_series.values[0][0])
  else:
    mission_id_col.append(f'{mission_id_series.values[0][0]}/{mission_id_series.values[0][1]}')

0
0

In [ ]:
space_x_launches_df['mission_id'] = mission_id_col

In [ ]:
space_x_launches_df.head()

   flight_number mission_name  ... last_wiki_update  launch_date_source
0              1    FalconSat  ...              NaN                 NaN
1              2      DemoSat  ...              NaN                 NaN
2              3  Trailblazer  ...              NaN                 NaN
3              4       RatSat  ...              NaN                 NaN
4              5     RazakSat  ...              NaN                 NaN

[5 rows x 31 columns]

In [ ]:
keys_in_rocket = list(space_x_launches_df['rocket'][0].keys())
print(keys_in_rocket)

['rocket_id', 'rocket_name', 'rocket_type', 'first_stage', 'second_stage', 'fairings']

In [ ]:
rockets_dataframe = pd.DataFrame()

In [ ]:
import sys

In [ ]:
for index in range(5):

  print(index)

  for keys in keys_in_rocket:

    my_object = space_x_launches_df['rocket'][index][keys]

    if isinstance(my_object, dict):
      list_keys = list(my_object.keys())
      
      for index, keys_lev1 in enumerate(list_keys):

        object_lev1 = my_object[keys_lev1]

        if isinstance(object_lev1, list):
          sub_dictionary = object_lev1[0]

          for each_key, each_val in sub_dictionary.items():

            print("")
            #print(each_key)

            if isinstance(each_val, list):

              if len(each_val) == 0:
                print("")

                #print(f"{each_key} undefined")
              else:
                print("")
                #print(each_val[0])

            elif isinstance(each_val, dict):
              #print(f"8888888888888888888888888888888888Didctionary")

              for sub_keys, sub_values in each_val.items():
                sub_values = sub_values
                #print(sub_keys)
                #print(sub_values)
                #print(f"8888888888888888888888888888888888888888888")
            else:
              #each_val
              print(f">>>>>{keys_lev1}")
              print(f"#####{each_val}")
        
        elif isinstance(each_val, dict):
          for sub_keys, sub_values in each_val.items():
            sub_values = sub_values
        
        else:
          print("----------------")
          print(my_object)
          print(f"$$$$$$$${object_lev1}")
          print("----------------")
    else:
      # This needs to be a row
      rockets_dataframe.loc[index, str(keys)] = space_x_launches_df['rocket'][index][keys]
      #print(rockets_dataframe[str(keys)])

0

>>>>>cores
#####Merlin1A

>>>>>cores
#####1

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####None
----------------
{'block': 1, 'payloads': [{'payload_id': 'FalconSAT-2', 'norad_id': [], 'reused': False, 'customers': ['DARPA'], 'nationality': 'United States', 'manufacturer': 'SSTL', 'payload_type': 'Satellite', 'payload_mass_kg': 20, 'payload_mass_lbs': 43, 'orbit': 'LEO', 'orbit_params': {'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None}}]}
$$$$$$$$1
----------------

>>>>>payloads
#####FalconSAT-2



>>>>>payloads
#####False



>>>>>payloads
#####United States

>>>>>payloads
#####SSTL

>>>>>payloads
#####Satellite

>>>>>payloads
#####20

>>>>>payloads
#####43

>>>>>payloads
#####LEO

----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$None
----------------
1

>>>>>cores
#####Merlin2A

>>>>>cores
#####1

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####None
----------------
{'block': 1, 'payloads': [{'payload_id': 'FalconSAT-2', 'norad_id': [], 'reused': False, 'customers': ['DARPA'], 'nationality': 'United States', 'manufacturer': 'SSTL', 'payload_type': 'Satellite', 'payload_mass_kg': 20, 'payload_mass_lbs': 43, 'orbit': 'LEO', 'orbit_params': {'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None}}]}
$$$$$$$$1
----------------

>>>>>payloads
#####FalconSAT-2



>>>>>payloads
#####False



>>>>>payloads
#####United States

>>>>>payloads
#####SSTL

>>>>>payloads
#####Satellite

>>>>>payloads
#####20

>>>>>payloads
#####43

>>>>>payloads
#####LEO

----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$None
----------------
2

>>>>>cores
#####Merlin1C

>>>>>cores
#####1

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####None
----------------
{'block': 1, 'payloads': [{'payload_id': 'FalconSAT-2', 'norad_id': [], 'reused': False, 'customers': ['DARPA'], 'nationality': 'United States', 'manufacturer': 'SSTL', 'payload_type': 'Satellite', 'payload_mass_kg': 20, 'payload_mass_lbs': 43, 'orbit': 'LEO', 'orbit_params': {'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None}}]}
$$$$$$$$1
----------------

>>>>>payloads
#####FalconSAT-2



>>>>>payloads
#####False



>>>>>payloads
#####United States

>>>>>payloads
#####SSTL

>>>>>payloads
#####Satellite

>>>>>payloads
#####20

>>>>>payloads
#####43

>>>>>payloads
#####LEO

----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$None
----------------
3

>>>>>cores
#####Merlin2C

>>>>>cores
#####1

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####None
----------------
{'block': 1, 'payloads': [{'payload_id': 'FalconSAT-2', 'norad_id': [], 'reused': False, 'customers': ['DARPA'], 'nationality': 'United States', 'manufacturer': 'SSTL', 'payload_type': 'Satellite', 'payload_mass_kg': 20, 'payload_mass_lbs': 43, 'orbit': 'LEO', 'orbit_params': {'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None}}]}
$$$$$$$$1
----------------

>>>>>payloads
#####FalconSAT-2



>>>>>payloads
#####False



>>>>>payloads
#####United States

>>>>>payloads
#####SSTL

>>>>>payloads
#####Satellite

>>>>>payloads
#####20

>>>>>payloads
#####43

>>>>>payloads
#####LEO

----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$None
----------------
4

>>>>>cores
#####Merlin3C

>>>>>cores
#####1

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####False

>>>>>cores
#####None

>>>>>cores
#####None
----------------
{'block': 1, 'payloads': [{'payload_id': 'FalconSAT-2', 'norad_id': [], 'reused': False, 'customers': ['DARPA'], 'nationality': 'United States', 'manufacturer': 'SSTL', 'payload_type': 'Satellite', 'payload_mass_kg': 20, 'payload_mass_lbs': 43, 'orbit': 'LEO', 'orbit_params': {'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None}}]}
$$$$$$$$1
----------------

>>>>>payloads
#####FalconSAT-2



>>>>>payloads
#####False



>>>>>payloads
#####United States

>>>>>payloads
#####SSTL

>>>>>payloads
#####Satellite

>>>>>payloads
#####20

>>>>>payloads
#####43

>>>>>payloads
#####LEO

----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$False
----------------
----------------
{'reused': False, 'recovery_attempt': False, 'recovered': False, 'ship': None}
$$$$$$$$None
----------------

In [ ]:
rockets_dataframe.head()

  rocket_id rocket_name rocket_type
0   falcon1    Falcon 1    Merlin A
1   falcon1    Falcon 1    Merlin A
2   falcon1    Falcon 1    Merlin C
3   falcon1    Falcon 1    Merlin C
4   falcon1    Falcon 1    Merlin C

#### Pandas.Describe

 ## Enpoint #2 - Launchpads

The basic url for this API is https://api.spacexdata.com/v3/, however different endpoints can be added to the url depending on the desired information. For example, in our case we will want the Launchpds field to know which launchpads where used by different Space X launch vehicles.

In [ ]:
url = "https://api.spacexdata.com/v3/launchpads"
print(requests.get(url))

<Response [200]>

In [ ]:
# This will convert values from the url into json format (key value pairs) so we can use python to do some analysis with !
r = requests.get(url)
pretty_json = json.loads(r.text)
print(json.dumps(pretty_json, indent=2))

[
  {
    "id": 5,
    "name": "VAFB SLC 3W",
    "status": "retired",
    "location": {
      "name": "Vandenberg Air Force Base",
      "region": "California",
      "latitude": 34.6440904,
      "longitude": -120.5931438
    },
    "vehicles_launched": [
      "Falcon 1"
    ],
    "attempted_launches": 0,
    "successful_launches": 0,
    "wikipedia": "https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_3",
    "details": "SpaceX original west coast launch pad for Falcon 1. Performed a static fire but was never used for a launch and abandoned due to scheduling conflicts.",
    "site_id": "vafb_slc_3w",
    "site_name_long": "Vandenberg Air Force Base Space Launch Complex 3W"
  },
  {
    "id": 2,
    "name": "CCAFS SLC 40",
    "status": "active",
    "location": {
      "name": "Cape Canaveral",
      "region": "Florida",
      "latitude": 28.5618571,
      "longitude": -80.577366
    },
    "vehicles_launched": [
      "Falcon 9"
    ],
    "attempted_launches": 61,
    "successful_launches": 59,
    "wikipedia": "https://en.wikipedia.org/wiki/Cape_Canaveral_Air_Force_Station_Space_Launch_Complex_40",
    "details": "SpaceX primary Falcon 9 launch pad, where all east coast Falcon 9s launched prior to the AMOS-6 anomaly. Initially used to launch Titan rockets for Lockheed Martin. Back online since CRS-13 on 2017-12-15.",
    "site_id": "ccafs_slc_40",
    "site_name_long": "Cape Canaveral Air Force Station Space Launch Complex 40"
  },
  {
    "id": 8,
    "name": "STLS",
    "status": "under construction",
    "location": {
      "name": "Boca Chica Village",
      "region": "Texas",
      "latitude": 25.9972641,
      "longitude": -97.1560845
    },
    "vehicles_launched": [
      "Falcon 9"
    ],
    "attempted_launches": 0,
    "successful_launches": 0,
    "wikipedia": "https://en.wikipedia.org/wiki/SpaceX_South_Texas_Launch_Site",
    "details": "SpaceX new launch site currently under construction to help keep up with the Falcon 9 and Heavy manifests. Expected to be completed in late 2018. Initially will be limited to 12 flights per year, and only GTO launches.",
    "site_id": "stls",
    "site_name_long": "SpaceX South Texas Launch Site"
  },
  {
    "id": 1,
    "name": "Kwajalein Atoll",
    "status": "retired",
    "location": {
      "name": "Omelek Island",
      "region": "Marshall Islands",
      "latitude": 9.0477206,
      "longitude": 167.7431292
    },
    "vehicles_launched": [
      "Falcon 1"
    ],
    "attempted_launches": 5,
    "successful_launches": 2,
    "wikipedia": "https://en.wikipedia.org/wiki/Omelek_Island",
    "details": "SpaceX original launch site, where all of the Falcon 1 launches occured. Abandoned as SpaceX decided against upgrading the pad to support Falcon 9.",
    "site_id": "kwajalein_atoll",
    "site_name_long": "Kwajalein Atoll Omelek Island"
  },
  {
    "id": 6,
    "name": "VAFB SLC 4E",
    "status": "active",
    "location": {
      "name": "Vandenberg Air Force Base",
      "region": "California",
      "latitude": 34.632093,
      "longitude": -120.610829
    },
    "vehicles_launched": [
      "Falcon 9"
    ],
    "attempted_launches": 16,
    "successful_launches": 16,
    "wikipedia": "https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4",
    "details": "SpaceX primary west coast launch pad for polar orbits and sun synchronous orbits, primarily used for Iridium. Also intended to be capable of launching Falcon Heavy.",
    "site_id": "vafb_slc_4e",
    "site_name_long": "Vandenberg Air Force Base Space Launch Complex 4E"
  },
  {
    "id": 4,
    "name": "KSC LC 39A",
    "status": "active",
    "location": {
      "name": "Cape Canaveral",
      "region": "Florida",
      "latitude": 28.6080585,
      "longitude": -80.6039558
    },
    "vehicles_launched": [
      "Falcon 9",
      "Falcon Heavy"
    ],
    "attempted_launches": 27,
    "successful_launches": 26,
    "wikipedia": "https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A",
    "details": "NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.",
    "site_id": "ksc_lc_39a",
    "site_name_long": "Kennedy Space Center Historic Launch Complex 39A"
  }
]

In [ ]:
# This chunk of code will let us know in which form is the original data coming in the form as
response = requests.get(url).json()

# This piece of code iterations through the list of dictionaies (datatype) to get all the names of the launch pads used by SpaceX.
for i in response:
  if i['name']:
    print(i['name'])

VAFB SLC 3W
CCAFS SLC 40
STLS
Kwajalein Atoll
VAFB SLC 4E
KSC LC 39A

Here we see that Space X has only used 6 different Launch Pads:

1. VAFB SLC 3W - Vandenberg Air Force Base Space Launch Complex 3W
2. CCAFS SLC 40 - Cape Canaveral Air Force Station Space Launch Complex 40
3. STLS - SpaceX South Texas Launch Site
4. Kwajalein Atoll - Kwajalein Atoll Omelek Island
5. VAFB SLC 4E - Vandenberg Air Force Base Space Launch Complex 4E
6. KSC LC 39A - Kennedy Space Center Historic Launch Complex 39A

One thing to note is that the South Texas Launch site is not found in the data scrapped from Wikipedia, therefore hurting the credibility of it as a reliable source of data. A better map with more complete information may be created in later stages of the project.

In [ ]:
# We can also create another request to get information on a specific launchpad
response_ksc_lc39a = requests.get(url + "/ksc_lc_39a").json()
print(json.dumps(response_ksc_lc39a, indent=4, sort_keys=True))

{
    "attempted_launches": 20,
    "details": "NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.",
    "id": 4,
    "location": {
        "latitude": 28.6080585,
        "longitude": -80.6039558,
        "name": "Cape Canaveral",
        "region": "Florida"
    },
    "name": "KSC LC 39A",
    "site_id": "ksc_lc_39a",
    "site_name_long": "Kennedy Space Center Historic Launch Complex 39A",
    "status": "active",
    "successful_launches": 20,
    "vehicles_launched": [
        "Falcon 9",
        "Falcon Heavy"
    ],
    "wikipedia": "https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A"
}

In [ ]:
# Specific information within each dictionary can be access as keys
response_ksc_lc39a['details']

'NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.'

## Endpoint #3 -Rockets Endpoint 
In this section we will access a different endpoint within the SpaceX API to find out more information out rockets that are manufactured by Space X. Here we will do separate queries for the Falcon 9 rocket.

In [ ]:
# Performing a GET Request and saving the 
# API's response within a variable
url = "https://api.spacexdata.com/v2/rockets/falcon9"
response = requests.get(url)
response_json = response.json()
type(response_json)

print(json.dumps(response_json, indent=4, sort_keys=True))

{
    "active": true,
    "boosters": 0,
    "company": "SpaceX",
    "cost_per_launch": 50000000,
    "country": "United States",
    "description": "Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit.",
    "diameter": {
        "feet": 12,
        "meters": 3.7
    },
    "engines": {
        "engine_loss_max": 2,
        "isp": {
            "sea_level": 288,
            "vacuum": 312
        },
        "layout": "octaweb",
        "number": 9,
        "propellant_1": "liquid oxygen",
        "propellant_2": "RP-1 kerosene",
        "thrust_sea_level": {
            "kN": 845,
            "lbf": 190000
        },
        "thrust_to_weight": 180.1,
        "thrust_vacuum": {
            "kN": 914,
            "lbf": 205500
        },
        "type": "merlin",
        "version": "1D+"
    },
    "first_flight": "2010-06-04",
    "first_stage": {
        "burn_time_sec": 162,
        "engines": 9,
        "fuel_amount_tons": 385,
        "reusable": true,
        "thrust_sea_level": {
            "kN": 7607,
            "lbf": 1710000
        },
        "thrust_vacuum": {
            "kN": 8227,
            "lbf": 1849500
        }
    },
    "flickr_images": [
        "https://farm1.staticflickr.com/929/28787338307_3453a11a77_b.jpg",
        "https://farm4.staticflickr.com/3955/32915197674_eee74d81bb_b.jpg",
        "https://farm1.staticflickr.com/293/32312415025_6841e30bf1_b.jpg",
        "https://farm1.staticflickr.com/623/23660653516_5b6cb301d1_b.jpg",
        "https://farm6.staticflickr.com/5518/31579784413_d853331601_b.jpg",
        "https://farm1.staticflickr.com/745/32394687645_a9c54a34ef_b.jpg"
    ],
    "height": {
        "feet": 229.6,
        "meters": 70
    },
    "id": "falcon9",
    "landing_legs": {
        "material": "carbon fiber",
        "number": 4
    },
    "mass": {
        "kg": 549054,
        "lb": 1207920
    },
    "name": "Falcon 9",
    "payload_weights": [
        {
            "id": "leo",
            "kg": 22800,
            "lb": 50265,
            "name": "Low Earth Orbit"
        },
        {
            "id": "gto",
            "kg": 8300,
            "lb": 18300,
            "name": "Geosynchronous Transfer Orbit"
        },
        {
            "id": "mars",
            "kg": 4020,
            "lb": 8860,
            "name": "Mars Orbit"
        }
    ],
    "rocketid": 2,
    "second_stage": {
        "burn_time_sec": 397,
        "engines": 1,
        "fuel_amount_tons": 90,
        "payloads": {
            "composite_fairing": {
                "diameter": {
                    "feet": 17.1,
                    "meters": 5.2
                },
                "height": {
                    "feet": 43,
                    "meters": 13.1
                }
            },
            "option_1": "dragon",
            "option_2": "composite fairing"
        },
        "reusable": false,
        "thrust": {
            "kN": 934,
            "lbf": 210000
        }
    },
    "stages": 2,
    "success_rate_pct": 97,
    "type": "rocket",
    "wikipedia": "https://en.wikipedia.org/wiki/Falcon_9"
}

In [ ]:
# Here we are grabbing a specific value from the dictionary. An interesting fact to know is the average cost per launch of the Falcon 9 in general.
print(response_json["cost_per_launch"])

50000000

Interesting fact to note for the future analysis and data gathered either from this source others.

In [ ]:
# Here we can take a look at the number of payloads that the falcon 9 can carry using the only available field 
# relating to payloads....the 'payload weights' key

number_payloads = len(response_json["payload_weights"])
print(f"There are {number_payloads} payloads.")

There are 3 payloads.

In [ ]:
# Referencing the values stored within sub-dictionaries and sub-lists
payload_weight = response_json["payload_weights"][0]["kg"]
print(f"The first payload weighed {payload_weight} Kilograms")

The first payload weighed 22800 Kilograms

# Geospatial Data

[link text](https:// [link text](https://))

https://towardsdatascience.com/how-to-work-with-big-geospatial-data-4ba919a8ffc2

https://www.ogc.org/blog/1866