# Extract Transform Load (ETL)

The Data Science Lifecycle typically starts with Extract, read the data, often from multiple sources; Transform, clean and structure the data in the desired form;Load, write the data into a database for storage. As defined by Microsoft Azure documentation: "Extract, transform, and load (ETL) is a data pipeline used to collect data from various sources, transform the data according to business rules, and load it inot a destination data store.[2]" This launch business data analysis will be using data from Wikipedia's list of rocket launch sites [3], UCS (Union for Concerned Scientists) [4], SpaceX's API [5], and Jonathan McDowell's Launch Log [6] can be used in the writing of a Launch Business case report.

# Data Source - Jonathan McDowell's Launch Log

Launch log page:
[JSR Launch Logs Jonathan C. McDowell Launch Log](https://planet4589.org/space/log/launch.html)

Direct link to raw txt file:
[Full Master Orbital list](https://planet4589.org/space/log/launchlog.txt)

In [14]:
import os
import pandas as pd

In [9]:
All_Data = '../Data/'

print(os.listdir(All_Data))
#Launch_Sites_Wiki_Data_xlx = All_Data + '/Launch Sites-Wiki.xlsx'

['LaunchLog', 'launchsites_wiki', 'observing_systems_capability_analysis_and_review_tool', 'to_scrape.md', 'union_concerned_scientists']


# Launch Logs

In [17]:
print(os.listdir(launch_log_files))

['LaunchLog.csv', 'LaunchLog.xlsx']

In [20]:
launch_log_files = All_Data + 'LaunchLog' #/Launch Sites-Wiki.xlsx'
#print(os.listdir(launch_log_files))
launchlog = pd.read_excel(launch_log_files + '/LaunchLog.xlsx')
launchlog.head(100)

,# Launch,Year,Month,Day,(UTC),COSPAR,PL Name,Orig PL Name,SATCAT,LV Type,LV S/N,Site,Suc,Ref
0,1957 ALP,1957.0,Oct,4.0,1900-03-20 08:34:00,1957 ALP 2,1-y ISZ,PS-1,S00002,Sputnik 8K71PS,M1-PS,NIIP-5 LC1,S,Energiya
1,1957-U01,1957.0,Oct,17.0,505,1957-U01,USAF 88 Charge A,Poulter Pellet,A08258,Aerobee,USAF 88,HADC A,S,EngSci1.58
2,1957 BET,1957.0,Nov,3.0,1900-01-09 14:42:00,1957 BET 1,2-y ISZ,PS-2,S00003,Sputnik 8K71PS,M1-2PS,NIIP-5 LC1,S,Grahn-WWW
3,1957-F01,1957.0,Dec,6.0,1900-03-08 12:35:00,1957-F01,Vanguard,Vanguard Test Satellite,F00002,Vanguard,TV-3,CC LC18A,F,Vang-ER9948
4,1958 ALP,1958.0,Feb,1.0,1900-01-14 11:56:00,1958 ALP,Explorer 1,Explorer 1,S00004,Jupiter C,RS-29 UE,CC LC26A,S,JunoFam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1960-F10,1960.0,Aug,18.0,1958,1960-F10,Courier 1A,Courier 1A,F00111,Thor Ablestar,262/AB004,CC LC17B,F,Wire
96,1960 LAM,1960.0,Aug,19.0,1900-02-04 04:06:00,1960 LAM 1,Korabl'-Sputnik-2,Vostok-1 No. 2,S00055,Vostok 8K72,L1-12,NIIP-5 LC1,S,NezavB
97,1960 MU,1960.0,Sep,13.0,1900-04-01 05:39:00,1960 MU,Discoverer 15,CORONA C-10,S00057,Thor Agena A,246/FTV 1058,V 75-3-5,S,VCR
98,NaN,NaN,NaN,NaN,NaN,1960 MU,Discoverer Optical Beacon,SAO Optical Tracking,A00060,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,1960 MU,SRV 106,SRV,A00062,NaN,NaN,NaN,NaN,NaN

In [22]:
launchlog.isnull().sum()

# Launch        6620
Year            6620
Month           6620
Day             6620
(UTC)           6631
COSPAR             0
PL Name            0
Orig PL Name       0
SATCAT             0
LV Type         6620
LV S/N          6620
Site            6620
Suc             6620
Ref             6620
dtype: int64