In [1]:
import os

All_Data = '../Data/'
oscar_agency_list = All_Data + 'observing_systems_capability_analysis_and_review_tool/'
os.listdir(oscar_agency_list)

['oscar_agency_list_03_25_21.xlsx']

## First Look in Pandas

The database is downloaded as an excel workbook but had to be converted to a Pandas dataframe which is is a 2-dimensional labeled data structure with columns of potentially different types. Dataframes are great ways to perform operations on rows and columns and is widely used in Data Science statistical analysis of all sorts. We will use the Pandas library to create our dataframe and perform queries for the data that we need.

In [8]:
import pandas as pd

# Reading in Database from Union of Concerned Scientist for Analysis
oscar_agency_list_xlx = oscar_agency_list + '/oscar_agency_list_03_25_21.xlsx'

oscar_df = pd.read_excel(oscar_agency_list_xlx)
oscar_df.columns

Index(['Id', 'Acronym', 'Name', 'Country', 'Website', 'Logo',
       'Spaceagency Programmes'],
      dtype='object')

In [9]:
oscar_df.head(5)

,Id,Acronym,Name,Country,Website,Logo,Spaceagency Programmes
0,86,21AT,Twenty First Century Aerospace Technology Co. Ltd,China,http://www.21at.com.cn/en,NaN,NaN
1,63,ABAE,Agencia Bolivariana para Actividades Espaciales,"Venezuela, Bolivarian Republic of",http://www.abae.gob.ve,NaN,VRSS (2012-2022)
2,47,ACE,Agencia Chilena del Espacio,Chile,http://www.agenciaespacial.cl/,NaN,SSOT (2011-2021)
3,98,AEB,Agência Espacial Brasileira,Brazil,https://www.gov.br/aeb/pt-br,NaN,NaN
4,64,AFRL,Air Force Research Laboratory,United States of America,NaN,NaN,NaN

### Pandas.Info

In [10]:
oscar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      90 non-null     int64
 1   Acronym                 90 non-null     object
 2   Name                    90 non-null     object
 3   Country                 87 non-null     object
 4   Website                 84 non-null     object
 5   Logo                    0 non-null      float64
 6   Spaceagency Programmes  64 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.0+ KB

In [11]:
oscar_df.isnull().sum()

Id                         0
Acronym                    0
Name                       0
Country                    3
Website                    6
Logo                      90
Spaceagency Programmes    26
dtype: int64

### Pandas.Describe

In [12]:
oscar_df.describe()

              Id  Logo
count  90.000000   0.0
mean   50.188889   NaN
std    29.045448   NaN
min     1.000000   NaN
25%    25.250000   NaN
50%    50.500000   NaN
75%    75.750000   NaN
max    98.000000   NaN