# Extract Transform Load (ETL)

The Data Science Lifecycle typically starts with Extract, read the data, often from multiple sources; Transform, clean and structure the data in the desired form;Load, write the data into a database for storage. As defined by Microsoft Azure documentation: "Extract, transform, and load (ETL) is a data pipeline used to collect data from various sources, transform the data according to business rules, and load it inot a destination data store.[2]" This launch business data analysis will be using data from Wikipedia's list of rocket launch sites [3], UCS (Union for Concerned Scientists) [4], SpaceX's API [5], and Jonathan McDowell's Launch Log [6] can be used in the writing of a Launch Business case report.

# Data Source - Jonathan McDowell's Launch Log

Launch log page:
[JSR Launch Logs Jonathan C. McDowell Launch Log](https://planet4589.org/space/log/launch.html)

Direct link to raw txt file:
[Full Master Orbital list](https://planet4589.org/space/log/launchlog.txt)

In [2]:
import os
import pandas as pd

In [3]:
All_Data = '../Data/'


# Launch Logs

In [36]:
launch_log_files = All_Data + 'LaunchLog' 

launchlog = pd.read_csv(launch_log_files + '/LaunchLog.csv')
launchlog.shape

launchlog.columns

Index(['# Launch', 'Year', 'Month', 'Day', '(UTC)', 'COSPAR', 'PL Name',
       'Orig PL Name', 'SATCAT', 'LV Type', 'LV S/N', 'Site', 'Suc', 'Ref'],
      dtype='object')

In [22]:
launchlog.isnull().sum()

# Launch        6620
Year            6620
Month           6620
Day             6620
(UTC)           6631
COSPAR             0
PL Name            0
Orig PL Name       0
SATCAT             0
LV Type         6620
LV S/N          6620
Site            6620
Suc             6620
Ref             6620
dtype: int64

In [30]:
new = launchlog.dropna(axis=0)
new.isnull().sum()

# Launch        0
Year            0
Month           0
Day             0
(UTC)           0
COSPAR          0
PL Name         0
Orig PL Name    0
SATCAT          0
LV Type         0
LV S/N          0
Site            0
Suc             0
Ref             0
dtype: int64

In [31]:
new.shape

(5997, 14)

5997