# Gunter Space Page

Main Website Link: https://space.skyrocket.de/

## Individual Satellite Data

### SAS A (Uhuru, Explorer 42)

In [22]:
# Import necessary packages
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import sys

# Site URL
url="https://space.skyrocket.de/doc_sdat/explorer_sas-a.htm"

In [2]:
# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse HTML code for the entire site
soup = BeautifulSoup(html_content, "lxml")

In [3]:
# On site there are 3 tables with the class "wikitable"
# The following line will generate a list of HTML content for each table
gdp = soup.find_all("table", attrs={"class": "data"})
print("Number of tables on site: ",len(gdp))

Number of tables on site:  2

In [45]:
# Lets go ahead and scrape first table with HTML code gdp[0]
table1 = gdp[0]
# the head will form our column names
body = table1.find_all("tr")

# Head values (Column names) are the first items of the body list
head = body[0] # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows

# Lets now iterate through the head HTML code and make list of clean headings

# Declare empty list to keep Columns names
headings = []
for item, item2 in zip(head.find_all("th"), head.find_all("td")): # loop through all th elements
    #print(item)
    #print(item2)
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    item2 = (item2.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    headings.append(item2)
    
print(headings)

['Nation:', 'USA']

In [56]:
len(body_rows[1].find_all("th"))

1

In [58]:
# Next is now to loop though the rest of the rows

#print(body_rows[0])
all_rows = [] # will be a list for list for all rows

for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    row2 = []
    for row_item, row_item2 in zip(body_rows[row_num].find_all("th"), body_rows[row_num].find_all("td")): #loop through all row entries
        #print(row_item, row_item2)
        #sys.exit()
        
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        aa2 = re.sub("(\xa0)|(\n)|,","",row_item2.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
        row.append(aa2)
        
    # append one row to all_rows
    all_rows.append(row)

In [61]:
# We can now use the data on all_rowsa and headings to make a table
# all_rows becomes our data and headings the column names
df = pd.DataFrame(data=all_rows,columns=headings)
df.to_csv("SAS-A_uhuru_explorer42.csv")